<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>TodoList</title>
</head>

<body>
    <div id="app" class="container">
        <form>
            <div class="form-group">
                <input v-if="todo==null" @keydown.enter.prevent="addTodo" type="text" class="form-control" id="textTodo" placeholder="เพิ่มสิ่งที่ต้องทำ">
                <input v-else @keydown.enter.prevent="editTodo" type="text" class="form-control" id="textTodo" :value="todo.text" placeholder="แก้ไชสิ่งที่ต้องทำ">
            </div>
        </form>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" v-if="pageNumber!=0"><a class="page-link" href="#" @click="pageNumber--">Previous</a></li>
              <li class="page-item" v-for = "page in getNumberOfPage" @click="pageNumber=page-1"><a class="page-link" href="#">{{page}}</a></li>
              <li class="page-item" v-if="pageNumber!=getNumberOfPage-1"><a class="page-link" href="#" @click="pageNumber++">Next</a></li>
            </ul>
          </nav>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Todo</th>
                <th scope="col">Operation
                    <button type="button" v-if = "todo!=null" class="btn btn-success" @click = "addNew">Add new</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for = "todo in getTodoByPaging">
                <th scope="row">{{todo.id}}</th>
                <td>{{todo.text}}</td>
                <td>
                    <button type="button" @click="editOperation(todo)" class="btn btn-warning">edit</button>
                    <button type="button" @click="delOperation(todo)" class="btn btn-danger">delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data: {
                lastid:5,
                todo:null,
                pageNumber:0,
                pageSize : 3,
                todos:[
                    {   id:1,
                        text:'ล้างจาน'
                    },
                    {   id:2,
                        text:'ซักผ้า'
                    },
                    {   id:3,
                        text:'ทำการบ้าน'
                    },
                    {   id:4,
                        text:'เล่นเกม'
                    }
                ],
            },
            methods: {
                addTodo:function(event){
                    var newTodo={
                        id:this.lastid++,
                        text:event.target.value
                    };
                    this.todos.push(newTodo);
                    event.target.value="";
                },
                editTodo:function(event){
                    this.todo.text = event.target.value;
                    this.todo=null;
                },
                editOperation:function(todo){
                    this.todo = todo;
                    console.log(todo);
                },
                delOperation:function(todo){
                    var index = this.todos.findIndex(t => t.id == todo.id);
                    this.todos.splice(index,1);
                },
                addNew:function(){
                    this.todo=null;
                }
            },
            computed: {
                getTodoByPaging : function(){
                    var begin = this.pageNumber*this.pageSize;
                    var end = begin+this.pageSize;
                    return this.todos.slice(begin,end);
                },
                getNumberOfPage:function(){
                    return Math.ceil(this.todos.length/this.pageSize)
                }
            },
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>